*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.bg-image{
    height: 100vh;
    min-height: 100vh;

    background-image: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}
article{
    flex: 2;
    background-color: antiquewhite;
}